@import '@/styles/theme.scss';

.titlesection {
    text-align: center;
    &.white {
        background: $primary;
        .subtitle {
            color: $resalt;
        }
        .title {
            color: white;
        }
    }
    .subtitle {
        font-family: var(--font-pacifico);
        color: #595959;
        font-size: 16px;
        line-height: 30px;
        @include media-up( md ) {
            font-size: 24px;

        }
    }
    .title {
        margin: 0;
        font-family: var(--font-rubik);
        color: $primary;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: -3px;
        padding-bottom: 20px;
        @include media-up( md ) {
            margin-top: 10px;
            font-size: 60px;
            padding-bottom: 40px;
        }
        strong {
            position: relative;
            font-weight: inherit;
            &::before {
                content: '';
                position: absolute;
                top: 80%;
                max-height: 35px;
                width: 150%;
                aspect-ratio: 3 / 1;
                left: 50%;
                transform: translate(-50%, 0);
                border-radius: 50%;
                border: 6px solid $resalt;
                /* Use a clip-path to hide and show the bits you want */
                clip-path: polygon(0 0, 50% 50%, 100% 0);
            }
        }
    }
}