@import '@/styles/theme.scss';

.section {
    background: $light;
    position: relative;
    width: 100vw;

    .clip1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    }
    .clip2 {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    }
    .clip3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    .clip4 {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }

    .primary {
        background: $primary;
    }
    .secondary {
        background: $secondary;
    }
    .resalt {
        background: $resalt
    }
    .dark {
        background: $dark;
    }
    .light {
        background: $extraLight
    }

}